.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }

    li {
        margin: 0 8px;
    }
}